In [13]:
import pandas as pd
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
#users = pd.read_table('users.dat', sep='::', header=None,names=unames)

In [16]:
#reading users data
users=pd.read_table('users.dat',sep='::',header=None,names=unames)

C:\New folder\new python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
C:\New folder\new python\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [18]:
#Reading movies data
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
movies=pd.read_table('movies.dat',sep='::',header=None,names=rnames)

C:\New folder\new python\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\New folder\new python\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
#reading rating data
mnames = ['movie_id', 'title', 'genres']
rating=pd.read_table('ratings.dat',sep='::',header=None,names=mnames)

C:\New folder\new python\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\New folder\new python\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000209 entries, 1 to 6040
Data columns (total 3 columns):
movie_id    1000209 non-null int64
title       1000209 non-null int64
genres      1000209 non-null int64
dtypes: int64(3)
memory usage: 30.5 MB

In [21]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 4 columns):
user_id      3883 non-null int64
movie_id     3883 non-null object
rating       3883 non-null object
timestamp    0 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 121.4+ KB

In [23]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
user_id       6040 non-null int64
gender        6040 non-null object
age           6040 non-null int64
occupation    6040 non-null int64
zip           6040 non-null object
dtypes: int64(3), object(2)
memory usage: 236.0+ KB

In [24]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [25]:
rating[:5]

   movie_id  title     genres
1      1193      5  978300760
1       661      3  978302109
1       914      3  978301968
1      3408      4  978300275
1      2355      5  978824291

In [26]:
movies[:5]

,user_id,movie_id,rating,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN

In [36]:
data=pd.merge(movies,rating)
#data.head(5)

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat